{% extends 'tasks/base.html' %}

{% block content %}
<div class="container shadow">
    <div class="row">
        <div class="col">
            <p class="h1 text-center">to-do list</p>

            <form action="" method="post">
                <div class="form-row m-1">
                    {% csrf_token %}

                    <div class="col-2">
                        {{ form.user }}
                    </div>
                    <div class="col-8">
                        {{ form.text }}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary">Dodaj</button>
                    </div>
                </div>
            </form>
            <ul class="list-group">
                {% for task in tasks_list %}
                {% if task.is_done %}
                <li class="list-group-item d-flex align-items-center justify-content-between complete">
                    {{ task.text }}
                    <a href="{% url 'tasks:delete' task.id %}">
                    <span class="btn btn-xs btn-default float-right">
                        <span class="fas fa-trash-alt " aria-hidden="true"></span>
                    </span>
                    </a>
                </li>
                {% else %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    {{ task.text }}
                    <a href="{% url 'tasks:delete' task.id %}">
                    <span class="btn btn-xs btn-default" >
                        <span class="fas fa-trash-alt" aria-hidden="true"></span>
                    </span>
                    </a>
                </li>
                {% endif %}
                {% empty %}
                <li>No tasks are available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}