{% extends 'base.html' %}

{% block content %}
<p class="text-right mb-0"><a href="{% url 'users:logout' %}">Logout</a></p>

<form action="{% url 'tasks:add' %}" method="post">
    {% csrf_token %}
    <div class="row m-1">
        <div class="col">
            <div class="input-group">
                {{ form.text }}
                <div class="input-group-append">
                <button class="btn btn-primary">Dodaj</button>
                </div>
            </div>
        </div>
    </div>
</form>

<ul class="list-group mt-2">
    {% for task in tasks_list %}
    {% if task.is_done %}
    <li class="list-group-item d-flex align-items-center justify-content-between complete">
        {{ task.text }}
        <div>
            <span class="btn btn-xs btn-default">
                <span class="far fa-check-square" aria-hidden="true"></span>
            </span>
            <a href="{% url 'tasks:delete' task.id %}">
                <span class="btn btn-xs btn-default float-right">
                    <span class="fas fa-trash-alt " aria-hidden="true"></span>
                </span>
            </a>
        </div>
    </li>
    {% else %}
    <li class="list-group-item d-flex align-items-center justify-content-between">
        {{ task.text }}
        <div>
            <a href="{% url 'tasks:complete' task.id %}">
                <span class="btn btn-xs btn-default">
                    <span class="far fa-square" aria-hidden="true"></span>
                </span>
            </a>
            <a href="{% url 'tasks:delete' task.id %}">
                <span class="btn btn-xs btn-default">
                    <span class="far fa-trash-alt" aria-hidden="true"></span>
                </span>
            </a>
        </div>
    </li>
    {% endif %}
    {% empty %}
    <li class="list-group-item">No tasks are available</li>
    {% endfor %}
</ul>
{% endblock %}